@inherits LayoutComponentBase
<component type="typeof(App)" render-mode="InteractiveServer" />

<div class="page">
    <div class="sidebar">
        @* <div class="top-row px-4 bg-light">
            <a class="navbar-brand ms-4" <img src="images/logo.jpeg" alt="vaaradhi logo" width="180" height="40" /></a>
        </div> *@
        <NavMenu />
    </div>

    <main>
        @* <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div> *@

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
